[submodule "ext/hdf5"]
	path = ext/hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "ext/GKlib"]
	path = ext/GKlib
	url = https://github.com/KarypisLab/GKlib.git
[submodule "ext/METIS"]
	path = ext/METIS
	url = https://github.com/KarypisLab/METIS.git
[submodule "ext/ParMETIS"]
	path = ext/ParMETIS
	url = https://github.com/KarypisLab/ParMETIS.git
[submodule "ext/scotch"]
	path = ext/scotch
	url = https://gitlab.inria.fr/scotch/scotch.git
[submodule "ext/petsc"]
	path = ext/petsc
	url = https://github.com/petsc/petsc.git
[submodule "ext/cgns"]
	path = ext/cgns
	url = https://github.com/CGNS/CGNS.git
